.popup__close-cross {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.6s;
  cursor: pointer;
  border: none;

  background: transparent;
  background-image: url(../../../images/close-cross.png);
  background-position: center;
}

.popup__close-cross:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-cross {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
